*{
	margin: 0px;
	padding: 0px;
}

.header-ctn{
	background: red;

}

/*ROJO*/
.header-ctn{
    /* Generamos un espacio "vacio" */
    padding: 10px 0px;
    padding-left: 275px;
    height: 68px;
    position: relative;
}

/* BLOQUE AMARILLO DENTRO DEL PADDING GENERADO*/
.header-logo{
    position: absolute;
    left: 0;
    background-color: yellow;
    height: 68px;
    width: 275px;
}

.menu{
	background-color: green;
    width:100%;
    height: 68px;

}


.items{
    vertical-align: middle;
    display: inline-block;
    text-align: right;
}



/* Clase de margen y padding*/

.demo{
    background: #000;
    height: 600px;
    /* Propiedad de las letras */
    font-size: 0px;
}

.div1, .div2{
    height: auto;
    width: 50px;
    display: inline-block; /* Propiedad de texto */
    font-size: 20px;
    vertical-align: top; /* Propiedad de texto para que no se rompa la caja*/
    width: 100px;
}
.div1{
    background: #fff;
    padding: 10px 0px;
}
.div2{
    background: #00ff00;
    /*padding-right:700px;*/
    width: 90%;
    height: 50px;
    text-align: center;
    /*margin: 40px 0px 200px 200px;*/
}















































































































































