/**{
	padding:0;
	margin:0;
}*/

h1{
	color: blue;
}

p a{
	font-size: 30px;
}

a[href="www.google.com"]{
	color:green;
	font-size:30px	;
}

/* Clase 4:  Unidades de colores*/

	/*Existe 3 tipos de formas de colocar un color a un elemento*/

	/* Forma 1 */
	h1{
		color:red;
	}

	/* Forma 2 RGB, ventaja un 4 atributo en el rango de 0 ~ 1 manejo de opacidad*/

	h2{
		color: rgb(117, 41, 41);
	}
	/* Forma 3 Hexagecional*/

	h3{
		color: #123456;
	}