 img
 	float right
 	// No mantiene nada
 	// display none
 	// Mantiene el espacio
 	// visibility hidden 

body
	font-family sans-serif
	// Forzando espacio abajo
	padding-bottom 200em
	padding 0px
	margin 0px

section
	border 2px dashed steelblue // (tamaño / estilo / color)
	width 500px
	height 500px
	margin 5em auto
div
	background rgba(173, 216, 230, .8) // Ultimo valor opacidad 80%
	padding .5em
	text-align center
	color #444
	font-size 2.8em
	font-weight bold
	line-height 1.5
	border-radius 5px

//  Position CSS

// Propiedad que permite controlar la posicion de un elemento en el flujo
// STATIC / RELATIVE / ABSOULTE /FIXED

// STATIC - Quedate en el lugar segun el flujo
// valores(top, right, bottom y left solo para los 3 ultimos tipos)

//  z-index - para posicionar en el eje Z
	//  Sirve para sobreponer elementos
