 img
 	float right
 	// No mantiene nada
 	// display none
 	// Mantiene el espacio
 	// visibility hidden 

body
	font-family sans-serif
	// Forzando espacio abajo
	padding-bottom 200em
	padding 0px
	margin 0px

section
	border 2px dashed steelblue // (tamaño / estilo / color)
	width 500px
	height 400px
	margin 5em auto
div
	background rgba(173, 216, 230, .8) // Ultimo valor opacidad 80%
	padding .5em
	text-align center
	color #444
	font-size 2.8em
	font-weight bold
	line-height 1.5
	border-radius 5px

.uno
	position relative
	// top 50%
	// transform: translateY(-50%)
	left 0px
	top 0px
	// Con relative ya podemos manipular
	// Cuando muevas la caja con relative,
		// deja el espacio inicial
