body
	margin 0
	padding 0
	
h1
	font-family Amatic SC
	text-align center
	color steelblue
//  1. Display usado para controlar estructuras
	// Mayoria de elementos cuenta con display block o inline

// 2. Block - Estira todo el ancho
	// El div es un elemento block-level estandar.
	// Otros elementos comunes son el p y el form
	// Nuevos en html 5: header, footer y seccion


script
	display: block
	
// BLoque
.block
	border 1px solid black
	width 100%
	background steelblue

//  Inline 
li
	display block

h2
	text-align center

span
	width 100px
	heiht 100px
	border 1px solid black
	margin 10px
	background yellow
	display inline-block
	
.inline
	overflow hidden
	text-align center
	
// Inline-block
	// fluye con los textos y los demas elementos como si fueran enlinea
	// respetan el ancho y los margenes verticales