body
	margin 0
	padding 0
	
h1
	font-family Amatic SC
	text-align center
	color steelblue

.container
	width 500px
	height 500px
	background lightblue
	margin auto
	display flex
	justify-content space-around
	flex-direction column
	align-items center	
.caja
	width 100px
	height 100px
	background tomato
	display flex
	justify-content center
	align-items center

.caja:nth-child(even)
	background green