body{
	padding: 0px;
	margin: 0px;
}

h1{
	color: steelblue;
	font-family: Arial;
	text-align: center;
}

.container{
	width: 400px;
	height: 700px;
	background: lightblue;
	/* Por que el margin auto lo centra ?*/
	margin: auto;
	display:flex;
	/*flex-direction: column;*/
	/*align-items: center;*/
}

.item{
	flex-basis: 40px;
	background: teal;
	/*margin: 10px;*/
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}

.item:nth-child(even){
	background: tomato;
}

.item:nth-child(odd){
	flex-grow: 2;
}