body{
	margin: 0px;
	padding: 0px;
}

header{
	padding: 10px 0px 10px 70px;
	width: 100%;
	height: 54px;
	background: #fff059;
	display: flex;
}
a .img_logo{
	margin:auto;
	display: absolute;
}

h1{
	color: red;
}