.caja{
	width: 200px;
	height: 200px;
	background: red;
	border-radius: 10px;
	/* Propiedades*/
	transition-duration: 2s;
	transition-property: width;
}


.caja:hover{
	background: green;
	/* Para que crezcan cuando hacen over*/
	width: 400px;
}